body {
    background-color: #282a36;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: sf-pro-display-regular;
    src: url('SFPRODISPLAYREGULAR.OTF');
}

.header{
    font-family: sf-pro-display-regular, sans-serif;
    font-size: 28px;
    color: #f8f8f2;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header img{
    width: 150px;
    border-radius: 50%;
}

.members-count-banner {
    background-color: #44475a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 100px 10px 100px;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
    font-family: sf-pro-display-regular, sans-serif;
    font-size: 24px;
}

.members-count-banner P{
    color: #f8f8f2;
    margin-bottom: 0px;
    margin-top: 0px;
}

.members-count-banner span{
    color: #f8f8f2;
}

.container-top {
    display: flex;
    flex-direction: row;
}